*{
    font-family: "Roboto Condensed", sans-serif;

}
.navbar{
    background-color: rgb(48, 41, 41);
}
.main{
    width: 100%;
    height: 800px;
    background-image: url("https://plus.unsplash.com/premium_photo-1681748777410-8439a0b41b22?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b25saW5lJTIwYmFua2luZ3xlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
}
.foot{
    width: 100%;
    height: 200px;
    background-color:rgb(48, 41, 41) ;
}
.sub{
    width: 50%;
    height: 500px;
}
.main1{
     height: 500px;
    width: 100%;
    display: flex;
}
.display{
    width: 500px;
    height: 100px;
    margin-left: 200px;
    background-color:transparent;
}
.form{
    border: 5px solid white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    height: 300px;
    }
    .head{
        padding-top: 20px;
        margin-left: 350px;
    }
    .input{
        width: 500px;
        margin-left: 300px;
    }
    .link{
        margin-left: 400px;
    }

